.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;  
  background: #282c34;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(58, 58, 58);
  -moz-box-shadow: 0px 4px 5px 0px rgba(58, 58, 58);
  box-shadow: 0px 4px 5px 0px rgb(58, 58, 58);
}

.header h1{
  font-size: 30px;
  text-shadow: 1px 1px #ffffff9e;
  color: #61dafb;
}